 img {
    width: 250px;
    display: flex;
    height: 390px;
    background-color:black;
    margin: 10px;
    }

div > img {
    width: 250px;
    display: flex;
    height: 250px;
    background-color:black;
    margin: 20px;
    justify-content: center;
    }

section > img {
    width: 250px;
    display: flex;
    height: 250px;
    background-color:black;
    margin: 20px;
    justify-content: center;
    }

html {
    background-color: #ff8fa3;
}

section {
    display: flex;
    margin: 15px;
    background-color: crimson;
    padding: 20px;
    border-color: brown;
    border-style: solid;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

div {
    background-color: crimson;
    display: flex;
    margin: 15px;
    padding: 20px;
    border-color: brown;
    border-style: solid;
    text-align: center;
    display: flex;
}
nav {
    background-color: black;
    color: #c9184a;
    padding: 10px;
    margin: 0px;
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    background-color: black;
    text-align: center;
}
h1 {
    background-color: #fff0f3;
    font-size: xx-large;
    font-style: normal;
    font-kerning: 10px;
    text-align: center;
    padding: 5px;
    margin: px;
    display: flex;
}
p {
    text-align: center;
    background-color: black;
    color: pink;
    padding: 10px;
    border-style: solid;
    border-color: #ff8fa3;
    line-height: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
h4 {
    background-color: #fff0f3;
}
#projects {
    text-decoration: underline;
    color: #c9184a;
}
#Learn {
    color: #c9184a;
    text-decoration: underline;
}
fieldset {
    text-align: center;
    margin: 35px;
    padding: 20px;
    border-color: #550c21;
}
label {
    color: #550c21;
    font-family: serif;
}
input {
    font-size: larger;
}
#submit {
    font-family: serif;
}
h3 {
    display: flex;
    justify-content: left;
    padding: 20px;
    text-align: left;
    text-decoration: underline;
}